# Django
SECRET_KEY=cambia-esto-en-produccion
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# DB (PostgreSQL + PostGIS)
DB_NAME=luciernagas
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

# Redis / Celery
REDIS_URL=redis://127.0.0.1:6379/0

# Correo (RF-07)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=tu-correo@gmail.com
EMAIL_HOST_PASSWORD=tu-app-password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=Festival Luciernagas <no-reply@luciernagas.mx>
